@model IEnumerable<SeminarMgmt.Models.Attendee>

@{
    ViewData["Title"] = "ViewAttendeeDetails";
}

<h1> All Registered Attendee Details</h1>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emailaddress)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.SeminarId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emailaddress)
            </td>
           <th>
                @Html.DisplayFor(modelItem => item.SeminarId)
            </th>
           
        </tr>
}
    </tbody>
</table>
